nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background-color: $button-color;
    border-radius: 1em;
    color: $white;
    cursor: pointer;
    font-weight: bold;
    height: 3em;
    width: 14em;

    &:hover {
      background-color: lighten($button-color, 20%);
      border: solid darken($button-color, 80%);
      border-radius: 1em;
    }
  }
}

.nav-button-container {
  padding-bottom: 1em;
}

h1 {
  color: $white;
  height: 80px;
  padding-top: 10px;
  text-align: center;
}
