$main-background: #4d4e4f;
$primary-text-color: #000000;
$general-color:  #9A9DAB;
$white: #ffffff;
$button-color: steelblue;
$hydration-background:  #5BC8AC;
$sleep-background:  #EC96A4;
$activity-background: #DFE166;


@mixin flexin($direction) {
  display: flex;
  flex-direction: $direction;
}
